:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Root UI", "Microsoft Sans Serif", sans-serif;
  background-color: #2b1428;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

input,
button {
  outline: none;
}

.container-fluid {
  max-width: 1498px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1328px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-layout {
  background-color: #0b0e21;
}

.header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.header__wrapper {
  display: flex;
}

.header__wrapper:first-child {
  flex-grow: 1;
}

.header__link {
  display: flex;
  align-self: center;
  flex-shrink: 0;
}

.header__logo {
  width: 89px;
  animation: 0.8s headShake ease 10s;
}

.header__search {
  max-width: 544px;
  width: 100%;
  height: 52px;
  border-radius: 100px;
  border: none;
  background-color: #232637;
  color: #6b6d78;
  font-size: 16px;
  font-weight: bold;
  text-indent: 32px;
  margin-left: 180px;
}

.header__switcher {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.switcher__icon {
  /*filter: invert(41%) sepia(20%) saturate(5436%) hue-rotate(336deg) brightness(95%) contrast(93%);*/
}

.burger__icon {
  margin-left: 26px;
  cursor: pointer;
}

.title {
  font-size: 60px;
  color: white;
}

.intro-layout {
  overflow-x: hidden;
  padding: 70px 0 200px;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro__wrapper {
  margin-top: 60px;
}

.intro .title {
  margin-left: 10px;
}

.intro__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  margin-top: 30px;
}

.intro__slider {
  max-width: 500px;
  position: relative;
  right: 100px;
}

.contacts__item {
  color: #1b45c9;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  padding: 10px;
}

.contacts__item:hover {
  background-color: #f2f6fd;
  transition: 0.3s all;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-gap: 45px;
  margin-top: 55px;
}

.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  transition: 0.3s all;
}

.card__img {
  width: 100%;
  height: 206px;
  transition: 0.3s all;
}

.card__img:hover {
  transform: translateY(-1px);
}

.card__title {
  font-size: 25px;
  line-height: 32px;
  color: white;
  margin-top: 20px;
}

.card__description {
  color: white;
  margin-top: 10px;
}

.card__tag {
  max-width: 100%;
  width: max-content;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #6a5a68;
  border-radius: 100px;
  padding: 10px;
  margin-top: 16px;
}

.card__address {
  color: #bfb8be;
  font-weight: bold;
  margin-top: 10px;
}

.gallery__grid {
  display: grid;
}

.gallery__grid--3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 295px 295px;
}

.gallery__grid--2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.gallery__grid--1 {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.gallery__grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline-layout {
  padding: 140px 0 190px;
}

.headline__link {
  display: block;
  width: max-content;
  font-size: 40px;
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white;
  margin-top: 30px;
}

.headline__link:first-child {
  margin: 0;
}

.headline__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 12px;
  margin-top: 30px;
}

.headline__tag {
  font-size: 40px;
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 992px) {
  .header__search {
    margin-left: 24px;
  }

  .headline__link {
    font-size: 24px;
    margin-top: 20px;
  }

  .headline__list {
    gap: 15px 10px;
    margin-top: 20px;
  }

  .headline__tag {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    height: 54px;
  }

  .header__logo {
    width: 62px;
  }

  .header__search {
    font-size: 12px;
    text-indent: 16px;
    height: 30px;
    margin-left: 12px;
  }

  .header__switcher {
    width: 30px;
    height: 30px;
    border-radius: 7px;
  }

  .switcher__icon {
    width: 15px;
    height: 15px;
  }

  .burger__icon {
    margin-left: 12px;
  }

  .title {
    font-size: 30px;
  }

  .headline-layout {
    padding: 70px 0 50px;
  }

  .headline__link {
    font-size: 16px;
    margin-top: 15px;
  }

  .headline__list {
    gap: 10px 6px;
    margin-top: 15px;
  }

  .headline__tag {
    font-size: 16px;
  }
}
